black
coverage[toml]>=5.3
darglint
flake8
flake8-black
flake8-bugbear
flake8-comprehensions
flake8-docstrings
flake8-fixme
flake8-isort
flake8-mutable
flake8-pyproject
flake8-simplify
isort
mypy
pep8-naming
pytest
pytest-mock
pytest-xdist